{% extends "index.html" %}

{% block content %}
<div class="content-wrapper">
<!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
  		  	<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
							<li class="breadcrumb-item"><a href="#">Settings</a></li>
							<li class="breadcrumb-item active" aria-current="page">Add nodes</li>
						</ol>
					</nav>
				</div>
			</div>
		{% if not clusters %}
			<div class="alert alert-danger" role="alert">
				<i class='fa fa-circle-info'></i>&nbsp;
					Add a cluster <a href="{% url 'add-clusters' %}">here</a> before adding nodes
			</div>
		</div><!-- container-fluid -->
	</section>
	{% else %}<!-- if clusters are present -->

			{% if empty_clusters %}<!-- if clusters got no associated node/url -->
			<div class="row">
				<div class="col-sm">
					<div class="alert alert-light alert-dismissible fade show" role="alert">
						<table id="empty_clusters" class="table table-borderless table-hover">
							<thead>
								<tr>
									<th>
										<i class='fa fa-circle-exclamation'></i>
										&nbsp;Add nodes to these clusters:
									</th>
								</tr>
							</thead>
							<tbody>
								{% for cluster in empty_clusters %}
								<tr><td>{{ cluster }}</td></tr>
								{% endfor %}
							</tbody>
						</table>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
			</div>
			{% endif %}
    </div>
  </section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">

		  <div class="card">
				<!-- sezione per messaggi successo del formset -->
				{% for form in formset %}
					{% for field in form %}
						{% for error in field.errors %}
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
								<i class='fa fa-circle-info'></i>&nbsp;
								<b>{{ field.value }}</b>
								&nbsp;{{ error }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
					{% endfor %}
				{% endfor %}

				{% if success %}
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						<i class='fa fa-circle-check'></i>&nbsp;saved!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{% endif %}

					<div class="card-header">
						<h5>
							<i class="fas fa-server"></i>
							&nbsp;Add nodes
						</h5>
					</div>

					<div class="card-body">
						<form id="Form" action="" method="POST">
							{% csrf_token %}
								<div class="row">
									<div class="col-sm-8">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text"><i class="fas fa-circle-nodes"></i>
												</span>
											</div>
											<select id="clusters" name="cluster" class="form-control" required>
												{% for i in clusters %}
													<option value="{{ i.id }}">{{ i.cluster_name }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
								</div>

								{{ formset.management_form }}
								{% for item in formset %}
								<div class="row">
									<div class="col-sm-8">
										<div id="inputFormRow">
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span class="input-group-text"><i class="fas fa-globe"></i></span>
												</div>
												{{ item.url}}
												<div class="input-group-append">
													<button type="button" class="btn add btn-primary" id="addRow"><i class="fas fa-plus"></i>
													Add node
													</button>
												</div>
											</div><!-- input-group mb-3 -->
										</div><!-- inputFormRow -->
			
										<div id="newRow"></div>

									</div><!-- col-sm-8 -->
								</div><!-- row -->
								{% endfor %}
							</div><!-- card-body -->

				<!-- Pulsante submit -->
				<button type="submit" class="submit btn btn-primary btn-block" name="submit" id="submit" value="Submit">Save</button>
			</form>

				<!-- forms vuoti -->
				<div id="empty-form" class="form-control m-input" style="display:none;">
					<div id="inputFormRow">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-globe"></i></span>
							</div>
							{{ formset.empty_form.url }}
							<div class="input-group-append">
								<button id="removeRow" type="button" class="btn btn-danger">
									Remove
								</button>
							</div>
						</div><!-- input-group mb-3 -->
					</div><!-- inputFormRow -->
				</div><!-- div empty_form -->
		  </div><!-- card -->
	  </div><!-- container-fluid -->

	</section>

	{% endif %}<!-- endif statement when no cluster is present -->
</div><!-- content-wrapper -->

<script>
$(document).ready(function() {
	// initialize Select2
	$('#clusters').select2({
		theme: 'bootstrap4',
	})

	function addFormSets() {
		let index = parseInt($('#id_form-TOTAL_FORMS').val());
		let newForm = $('#empty-form').html().replace(/__prefix__/g, index);
		$('#id_form-TOTAL_FORMS').val(index + 1);
		$('#newRow').append(newForm);
	}
	// on click add row
	$("#addRow").on('click', addFormSets);

	// remove row
	$(document).on('click', '#removeRow', function () {
		// get total forms index
		let index = parseInt($('#id_form-TOTAL_FORMS').val());
		// if index is not 0, decrement index (in order to avoid negative values)
		if(index > 0) {
			$('#id_form-TOTAL_FORMS').val(index - 1); // decrement Django total forms index
			index--; // decrement our counter
			// get informations about the element removed by the user
			const elementsToBeRenamed_count = ($(this).closest('#inputFormRow').nextAll()).length
			if(elementsToBeRenamed_count > 0) { // if the removed element was not the last
				$(this).closest('#inputFormRow').nextAll().remove() // remove all the next elements after the removed element
				// get the ID attribute of the removed element
				const removedId = ($(this).closest('#inputFormRow').children().children()).filter('input').attr('id');
				// extract only the numeric part of the result
				const numericPart = removedId.match(/\d+/);
				const removedIndex = parseInt(numericPart[0]) // convert string to number
				$(this).closest('#inputFormRow').remove() // removed the clicked element
				// iterate over the count
				for(let i = 0; i < elementsToBeRenamed_count; i++){
					// on each iteration, replace the prefix in 'name' and 'id' attributes inside the empty HTML form 
					// with the current iteration number starting from the removedIndex number.
					let newForm = $('#empty-form').html().replace(/__prefix__/g, removedIndex + i);
					$('#newRow').append(newForm);
				}
			} else {
				// if the removed element was the last
				$(this).closest('#inputFormRow').remove()
			}
		}
	});

});
</script>

<!-- datatable -->
<script>
$(function () {
	$('#empty_clusters').DataTable({
		responsive: true,
		ordering: false,
		searching: false
	});
});
</script>
{% endblock %}