{% extends "index.html" %}

{% block content %}
<div class="content-wrapper">
<!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
  		  <h3 class="text-bold text-dark">Settings</h3>
		</div>
      </div>
    </div>
  </section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">

			<form id="Form" action="" method="post">
			{% csrf_token %}

				<div class="card" id="1"><!-- first card -->
					<div class="card-header">
						<h5>
							<i class="fas fa-server"></i>
							&nbsp;Add nodes
							
							<!-- Add URLs button -->
							<button type="button" class="btn add btn-light" id="addRow"><i class="fas fa-plus"></i>
						</h5>
					</div>

					<div class="card-body">
						<div class="row">
							<div class="col-sm-7">
								<div id="inputFormRow">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fas fa-globe"></i></span>
										</div>
									  <input type="text" name="vault_node[]" class="form-control m-input" placeholder="Vault URL" autocomplete="off">
										<div class="input-group-append">
										  <button id="removeRow" type="button" class="btn btn-danger">Remove</button>
										</div>
									</div><!-- input-group mb-3 -->
							  </div><!-- inputFormRow -->
	
							  <div id="newRow"></div>

							</div><!-- col-sm-7 -->
						</div><!-- row -->

						<!-- checkbox add alerts -->
						<div class="icheck-primary">
							<input type="checkbox" id="alert" />
							<label for="alert">Add alerts</label>
					  </div>

					</div><!-- card-body -->
				</div><!-- card -->

				<div class="card" id="2"><!-- second card -->
						<div class="card-header">
							<h5>
								<i class="fas fa-bell"></i>
								&nbsp;Set threshold
							</h5>
						</div>

						<div class="card-body">
							<div class="col-sm-6">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-id-card"></i></span>
									</div><!-- input-group-prepend -->
									<input type="text" name="threshold" id="threshold" placeholder="License threshold" class="form-control pull-right">
								</div><!-- input-group mb-3 -->
							</div><!-- col-sm -->
						</div><!-- card body -->
				</div><!-- card -->

				<div class="card" id="3"><!-- third card -->
					<div class="card-header">
						<h5>
							<i class="fas fa-envelope"></i>
							&nbsp;Set alerts
						</h5>
					</div>

					<div class="card-body">
						<div class="form-group">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-envelope"></i></span>
								</div><!-- input-group-prepend -->
								<input type="email" class="form-control pull-right" name="email" id="email" placeholder="Email">
							</div><!-- input-group mb-3 -->
						</div>
						<div class="form-group">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-envelope"></i></span>
								</div><!-- input-group-prepend -->
								<input type="email" class="form-control pull-right" name="cc" id="cc" placeholder="Email2">
							</div><!-- input-group mb-3 -->
						</div>
						<div class="form-group">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-envelope"></i></span>
								</div><!-- input-group-prepend -->
								<input type="email" class="form-control pull-right" name="cc2" id="cc2" placeholder="Email3">
							</div><!-- input-group mb-3 -->
						</div>
						<div class="form-group">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-envelope"></i></span>
								</div><!-- input-group-prepend -->
								<input type="email" class="form-control pull-right" name="cc3" id="cc3" placeholder="Email4">
							</div><!-- input-group mb-3 -->
						</div>
					</div><!-- card body -->
				</div><!-- card -->

			<!-- Pulsante submit -->
			<button type="submit" class="submit btn btn-primary btn-block"  name="submit" value="Submit">Submit</button>

			</form>
		</div><!-- container-fluid -->

	</section>
</div><!-- content-wrapper -->

<!-- mostra campi aggiuntivi -->
<script>
//nascondi step
$("#2, #3").hide();

// mostra campi per impostazione allerta email
$("#alert").change(function() {
	checkbox_status = $("#alert").prop("checked")
	if (checkbox_status === true) {
		$("#2, #3").show();
	} else {
		$("#2, #3").hide();
	}
});
</script>

<!-- fields validation -->
<script>
$(document).ready(function() {
	// add method for receiver email address
	$.validator.addMethod("check_email", function(value, element) { 
		let filter = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
			return filter.test(value) && value != "";
		}, "Invalid email address"
	);

	// validate form
	$("#Form").validate({
		validClass: "font-weight-bold alert-success",
		errorClass: "font-weight-bold alert-danger",
		rules: {
			vault_node: {
				required: true,
				url: true
			},
			threshold: {
				required: true,
				digits: true,
				range: [1, 999999]
			},
			email: {
			required: true,
			check_email: true
			},
			cc: {
			check_email: true
			},
			cc2: {
			check_email: true
			},
			cc3: {
			check_email: true
			},
		},

		// change css class to error
		highlight: function (element, errorClass, validClass) {
			$(element).addClass(errorClass).removeClass("font-weight-bold alert-success");
		},

		// change css class to success
		unhighlight: function (element, errorClass, validClass) {
			$(element).removeClass(errorClass).addClass("font-weight-bold alert-success");
		},

		errorPlacement: function(error, element) {
			error.insertBefore(element.parent());
	  }

	});

	/*
	if (form.valid() == true) {
		document.getElementById("Form").submit();
	}
	*/
});
</script>

<!-- aggiunta campi dinamici -->
<script>
	// add row
	$("#addRow").click(function () {
		let html = '';
		html += '<div id="inputFormRow">';
		html += '<div class="input-group mb-3">';
		html += '<div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-globe"></i></span></div>';
		html += '<input type="text" name="vault_node[]" class="form-control m-input" placeholder="Vault URL" autocomplete="off">';
		html += '<div class="input-group-append">';
		html += '<button id="removeRow" type="button" class="btn btn-danger">Remove</button>';
		html += '</div>';
		html += '</div>';

		// pass dynamic created fields to validation
		$("input[name^='vault_node']").rules("add", {
			required: true,
			url: true
		});

		$('#newRow').append(html);
	});

	// remove row
	$(document).on('click', '#removeRow', function () {
		$(this).closest('#inputFormRow').remove();
	});
</script>
{% endblock %}
