{% extends "index.html" %}

{% block content %}
<div class="content-wrapper">
<!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
  		  	<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
							<li class="breadcrumb-item"><a href="#">Settings</a></li>
							<li class="breadcrumb-item active" aria-current="page">Clusters</li>
						</ol>
					</nav>
				</div>
      </div>
    </div>
  </section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">

			<div class="card"><!-- List Clusters -->
				<div class="card-header">
					<h5>
						<i class="fas fa-circle-nodes"></i>
						&nbsp;Clusters
						<span class="badge badge-light">{{ clusters_number }}</span>
					</h5>
				</div>

				<div class="card-body">

					<table id="clusters" class="table table-bordered table-hover">
						<thead>
							<tr>
							<th></th>
							<th class="none">Nodes:</th>
							<th class="none"></th>
							<!--<th></th> for remove button-->
							</tr>
						</thead>

						<tbody>
							{% if clusters %}
							{% for i in clusters %}
							<tr>
								<td>{{ i.cluster_name }}</td>
								<td>{{ i.node1 }}</td>
								<td>{{ i.node2 }}</td>
								<!--
								<td>
									<span class="badge bg-danger"><font size="3.1em">Remove</font></span>
								</td>
								-->
							</tr>
							{% endfor %}
						{% endif %}	
						</tbody>

					</table>

				</div><!-- card body -->
		  </div><!-- card -->

		  <div class="card"><!-- second card -->

				<form id="Form" action="" method="post">
					{% csrf_token %}

					<!-- sezione per errori/messaggi successo del form -->
					{% if error %}
					<div class="alert alert-danger alert-dismissible fade show" role="alert"> 
						<i class="fas fa-circle-exclamation"></i><strong>&nbsp;{{ error }}</strong>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					{% endif %}
					{% if success %}
					<div class="alert alert-success alert-dismissible fade show" role="alert"> 
						<i class="fas fa-circle-check"></i><strong>&nbsp;{{ success }}</strong>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					{% endif %}

						<div class="card-header">
							<h5>
								<i class="fas fa-server"></i>
								&nbsp;Add cluster
							</h5>
						</div>

						<div class="card-body">
							<div class="row">
								<div class="col-sm-5">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fas fa-id-badge"></i></span>
										</div>
									<input type="text" name="cluster_name" class="form-control" placeholder="Cluster name" required>
									<!-- Add URLs button -->
									<div class="input-group-append">
										<button type="button" class="btn add btn-primary" id="addRow"><i class="fas fa-plus"></i>
											Add node
										</button>
									</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-8">
									<div id="inputFormRow">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text"><i class="fas fa-globe"></i></span>
											</div>
											<input type="text" name="node1" class="form-control m-input" placeholder="Vault URL" required>
										</div><!-- input-group mb-3 -->
									</div><!-- inputFormRow -->
		
									<div id="newRow"></div>

								</div><!-- col-sm-8 -->
							</div><!-- row -->
						</div><!-- card-body -->

				<!-- info -->
				<div class="alert alert-light alert-dismissible fade show" role="alert">
					<p style="color:black;"><i class='fa fa-lightbulb'></i>&nbsp;Info: max 50 nodes per cluster</p>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<!-- Pulsante submit -->
				<button type="submit" class="submit btn btn-primary btn-block"  name="submit" id="submit" value="Submit">Save</button>
				</form>
		  </div><!-- card -->
	  </div><!-- container-fluid -->

	</section>
</div><!-- content-wrapper -->

<!-- datatable -->
<script>
$(function () {
	$('#clusters').DataTable({
		"responsive": true,
		"ordering": false
	});
});
</script>

<!-- fields validation -->
<script>
$(document).ready(function() {

	// aggiunta campi dinamici
	function addRow() {
		const maxField = 50; //Input fields increment limitation
		let x = 1; //Initial field counter is 1


			x++; //Increment field counter

			let html = '';
			html += '<div id="inputFormRow">';
			html += '<div class="input-group mb-3">';
			html += '<div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-globe"></i></span></div>';
			html += '<input type="text" name="node' + x + '" class="form-control m-input" placeholder="Vault URL" autocomplete="off" required>';
			html += '<div class="input-group-append">';
			html += '<button id="removeRow" type="button" class="btn btn-danger">Remove</button>';
			html += '</div>';
			html += '</div>';

			if(x < maxField){ 
				$('#newRow').append(html);
			}

		// remove row
		$(document).on('click', '#removeRow', function () {
			x--; //Decrement field counter
			$(this).closest('#inputFormRow').remove();
		});
	}

	let usr_data = {};

	$("#Form").on('submit', function(event) {
		// pass dynamic created fields to validation
		$("input[name^='node']").each(function() {
			$(this).rules("add", 
					{
							required: true,
							url: true
					})
		});

		// prevent default submit action
		event.preventDefault();

		if($("#Form").validate().form()) {
			fetchSend()
		}

	})

		// add row
		$("#addRow").on('click', addRow);

		// initialize the validator
		$("#Form").validate({
			validClass: "font-weight-bold alert-success",
			errorClass: "font-weight-bold alert-danger",
			rules: {
				cluster_name: {
					required: true,
					minlength: 2
				},
				node1: {
					required: true,
					url: true
				}
			},
			errorPlacement: function(error, element) {
				error.insertAfter(element.parent());
			}

		});

	// get all valid input fields and make a dictionary
	function fetchSend() {
		$("input[type=text]").each(function() {
			usr_data[$(this).attr("name")] = $(this).val();
		});

		$.ajax({
			url: "{% url 'clusters' %}",
			dataType: "text",
			method: "POST",
			data : {
			csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
			data: JSON.stringify(usr_data),
			},
			success: function(data, status, xhr){
			},
			error: function(xhr, status, error){
			}
		})
	}

});
</script>

{% endblock %}
