{% extends "index.html" %}

{% block content %}
<style>
  .button-container {
    float: right;
  }
</style>
<div class="content-wrapper">
<!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
  		  	<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
							<li class="breadcrumb-item"><a href="#">Settings</a></li>
							<li class="breadcrumb-item active" aria-current="page">Clusters</li>
						</ol>
					</nav>
				</div>
      </div>
    </div>
  </section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">

			<div class="card"><!-- Clusters table -->
				<div class="card-header">
					<h5>
						<i class="fas fa-circle-nodes"></i>
						&nbsp;Clusters
						<span class="badge badge-primary">{{ clusters_number }}</span>
					</h5>
					<!-- table buttons-->
					<div id="button-container" class="button-container"></div>
				</div>

				<div class="card-body">
					<table id="clusters" class="table table-bordered table-hover">
						<thead>
							<tr>
							<th>Active clusters</th>
							<th class="none">Nodes:</th>
							<th class="none"></th>
							<!--<th></th> for remove button-->
							</tr>
						</thead>

						<tbody>
							{% if clusters_data %}
							{% for i in clusters_data %}
							<tr>
								<td>{{ i.cluster_name }}</td>
								<td>{{ i.node1 }}</td>
								<td>{{ i.node2 }}</td>
								<!--
									/**
										*! INSERIRE 
									*/
								<td>
									<span class="badge bg-danger"><font size="3.1em">Remove</font></span>
								</td>
								-->
							</tr>
							{% endfor %}
						{% endif %}	
						</tbody>

					</table>

				</div><!-- card body -->
		  </div><!-- card -->

		  <div class="card">
				<form id="Form" action="" method="POST">
					{% csrf_token %}

					<!-- sezione per messaggi successo del form -->
					{% if success %}
					<div id="success">
						<script>
							Swal.fire({
							icon: 'success',
							title: 'Success:',
							text: 'Cluster saved!',
							confirmButtonColor: '#007bff',
						})
					</script>
					</div>
					{% endif %}

						<div class="card-header">
							<h5>
								<i class="fas fa-server"></i>
								&nbsp;Add cluster
							</h5>
						</div>

						<div class="card-body">
							<div class="row">
								<div class="col-sm-5">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fas fa-id-badge"></i></span>
										</div>
									<input type="text" name="cluster_name" id="cluster_name" class="form-control" placeholder="Cluster name" required>
									<!-- Add URLs button -->
									<div class="input-group-append">
										<button type="button" class="btn add btn-primary" id="addRow"><i class="fas fa-plus"></i>
											Add node
										</button>
									</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-8">
									<div id="inputFormRow">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text"><i class="fas fa-globe"></i></span>
											</div>
											<input type="text" name="node1" class="form-control m-input" placeholder="Vault URL" required>
										</div><!-- input-group mb-3 -->
									</div><!-- inputFormRow -->
		
									<div id="newRow"></div>

								</div><!-- col-sm-8 -->
							</div><!-- row -->
						</div><!-- card-body -->

				<!-- info -->
				<div class="alert alert-light alert-dismissible fade show" role="alert">
					<p style="color:black;"><i class='fa fa-circle-info'></i>&nbsp;Info: max 50 nodes per cluster</p>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<!-- Pulsante submit -->
				<button type="submit" class="submit btn btn-primary btn-block" name="submit" id="submit" value="Submit">Save</button>
			</form>
		  </div><!-- card -->
	  </div><!-- container-fluid -->

	</section>
</div><!-- content-wrapper -->

<!-- datatable -->
<script>
$(function () {
	let table = $('#clusters').DataTable({
		dom: '<"button-container"B>lfrtip',
		responsive: true,
		ordering: false,
		buttons: [
			{
				extend: 'copy',
				text: '<i class="fas fa-copy"></i> Copy',
				className: 'btn btn-light',
				exportOptions: {
					columns: ':visible'
				}
			},
			{
				extend: 'print',
				text: '<i class="fas fa-print"></i> Print',
				className: 'btn btn-light',
				exportOptions: {
					columns: ':visible'
				}
			},
			{
				extend: 'csv',
				text: '<i class="fas fa-file-csv"></i> CSV',
				className: 'btn btn-light',
				exportOptions: {
					columns: ':visible'
				}
			},
			{
				extend: 'pdf',
				text: '<i class="fas fa-file-pdf"></i> PDF',
				className: 'btn btn-light',
				exportOptions: {
					columns: ':visible'
				}
			}
			]
	});

});
</script>

<!-- fields validation -->
<script>
$(document).ready(function() {
	// initialize nodes array
	let nodes = [];

	// initialize object containing form data and function for add elements to it
	let obj = {
    length: 0,

    addElem: function addElem(elem) {
			// obj.length is automatically incremented 
			// every time an element is added.
			[].push.call(this, elem);
    }
	};

	// add method for checking spaces
	$.validator.addMethod("noSpace", function(value, element) { 
		return value.indexOf(" ") < 0 && value != ""; 
		}, "No spaces"
	);

	// duplicates custom validation
	$.validator.addMethod("noDuplicateValues", function(value, element) {
		const $inputs = $("input[name^='node']");
		const valueCounts = {};
		$inputs.each((i, el) => {
			const val = el.value;
			if (val in valueCounts) {
				valueCounts[val] += 1;
			} else {
				valueCounts[val] = 1;
			}
		});
		return Object.values(valueCounts).every(count => count === 1);
	}, "Fields cannot be the same");
	

	// aggiunta campi dinamici
	function addRow() {
		const maxField = 50; //Input fields increment limitation
		let x = 1; //Initial field counter is 1

		x++; //Increment field counter

		let html = '';
		html += '<div id="inputFormRow">';
		html += '<div class="input-group mb-3">';
		html += '<div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-globe"></i></span></div>';
		html += '<input type="text" name="node' + x + '" class="form-control m-input" placeholder="Vault URL" autocomplete="off" required>';
		html += '<div class="input-group-append">';
		html += '<button id="removeRow" type="button" class="btn btn-danger">Remove</button>';
		html += '</div>';
		html += '</div>';

		if(x < maxField){ 
			$('#newRow').append(html);
		}

		// remove row
		$(document).on('click', '#removeRow', function () {
			x--; //Decrement field counter
			$(this).closest('#inputFormRow').remove();
		});
	}

	// on click add row
	$("#addRow").on('click', addRow);

	// initialize the validator
	$("#Form").validate({
		validClass: "font-weight-bold alert-light",
		errorClass: "font-weight-bold alert-danger",
		rules: {
			cluster_name: {
				required: true,
				minlength: 2,
				noSpace: true
			},
			node1: {
				required: true,
				url: true
			}
		},
		errorPlacement: function(error, element) {
			error.insertAfter(element.parent());
		}

	});

	$("#Form").on('submit', function(event) {
		//* pass dynamic created fields to validation
		$("input[name^='node']").each(function() {
			$(this).rules("add", {
				required: true,
				url: true,
				noDuplicateValues: true
			})
		});

		if($("#Form").validate().form()) {
			fetchSend()
		} else {
			// prevent default submit action
			event.preventDefault();
		}

	})

	// get input fields values and make AJAX call
	function fetchSend() {
		$("#Form").submit(function (e) {
		// add cluster_name to form data array 
		obj.addElem($("input[name='cluster_name']").val());

		// add nodes fields to separate array
		$("input[name^='node']").each(function() {
      nodes.push($(this).val());
    });

		// add nodes to form data array
		obj.addElem(nodes);

		e.preventDefault();

		$.ajax({
			url: "{% url 'submit' %}",
			type: "POST",
			data : {
			csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
			data: JSON.stringify(obj),
			},
			success: function(response){
				$("#cluster_name").focus();
				let instance = JSON.parse(response["instance"])
				alert(instance)
			},
			error: function(response){
				alert(response["responseJSON"]["error"]);
			}
		})
	})
}

$("#cluster_name").focusout(function (e) {
	e.preventDefault();

	// get the cluster name
	let cluster_name = $(this).val();

	// GET AJAX request
	$.ajax({
		type: 'GET',
		url: "{% url 'get-cluster' %}",
		data: {"cluster_name": cluster_name},
		success: function (response) {
			// if value exists, alert the user
			if(!response["valid"]){
				// custom popup
				Swal.fire({
					icon: 'error',
					title: 'Error:',
					text: 'Cluster already exists!',
					confirmButtonColor: '#007bff',
				})

				let ClusterName = $("#cluster_name");
				ClusterName.val("")
				ClusterName.focus()
			}
		},
		error: function (response) {
			// console.log(response)
		}
	})
})

});

</script>
{% endblock %}
