{% extends "index.html" %}

{% block content %}
<div class="content-wrapper">
<!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
  		  	<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
							<li class="breadcrumb-item"><a href="#">Settings</a></li>
							<li class="breadcrumb-item active" aria-current="page">Clusters</li>
						</ol>
					</nav>
				</div>
      </div>
    </div>
  </section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">

			<div class="card"><!-- List Clusters -->
				<div class="card-header">
					<h5>
						<i class="fas fa-circle-nodes"></i>
						&nbsp;Clusters
						<span class="badge badge-light">{{ clusters_number }}</span>
					</h5>
				</div>

				<div class="card-body">
					<div class="table-responsive">
					<table id="clusters" class="table table-bordered table-hover">

						<tbody>
							{% if clusters %}
							<div class="float-right">
								<button type="button" class="btn" data-toggle="collapse" data-target="#collapseme">
									Expand/Collapse
									<i class="fas fa-circle-chevron-up"></i>
								</button>
							</div>
							{% for i in clusters %}
							<tr>
								<td class="bg-light"><p class="h6">{{ i.cluster_name }}</p>
										<small class="text-muted">
											Last check: 2023-01-03 22:32:22
										</small>
								</td>
								<tr id="collapseme" class="collapse out">
									<td><a href="{{ i.node1 }}" class="badge badge-light" target="_blank">{{ i.node1 }}</a></td>
								</tr>
								{% if i.node2 != None %}
									<tr id="collapseme" class="collapse out">
										<td><a href="{{ i.node2 }}"  class="badge badge-light" target="_blank">{{ i.node2 }}</a></td>
									</tr>
								{% endif %}
								{% if i.node3 != None %}
									<tr id="collapseme" class="collapse out">
										<td><a href="{{ i.node3 }}" class="badge badge-light" target="_blank">{{ i.node3 }}</a></td>
								  </tr>
								{% endif %}
								{% if i.node4 != None %}
									<tr id="collapseme" class="collapse out">
										<td><a href="{{ i.node4 }}" class="badge badge-light" target="_blank">{{ i.node4 }}</a></td>
									</tr>
								{% endif %}
								{% if i.node5 != None %}
									<tr id="collapseme" class="collapse out">
										<td><a href="{{ i.node5 }}" class="badge badge-light" target="_blank">{{ i.node5 }}</a></td>
									</tr>
								{% endif %}
							</tr>
								<!--
								<td>
									<span class="badge bg-danger"><font size="3.1em">Remove</font></span>
								</td>
								-->
							</tr>
							{% endfor %}
						{% endif %}	
						</tbody>

					</table>
				</div>
				</div><!-- card body -->
		  </div><!-- card -->

		  <div class="card"><!-- second card -->

				<form id="Form" action="" method="post">
					{% csrf_token %}

					<!-- sezione per errori/messaggi successo del form -->
					{% if error %}
					<div class="alert alert-danger alert-dismissible fade show" role="alert"> 
						<i class="fas fa-circle-exclamation"></i><strong>&nbsp;{{ error }}</strong>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					{% endif %}
					{% if success %}
					<div class="alert alert-success alert-dismissible fade show" role="alert"> 
						<i class="fas fa-circle-check"></i><strong>&nbsp;{{ success }}</strong>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					{% endif %}

						<div class="card-header">
							<h5>
								<i class="fas fa-server"></i>
								&nbsp;Add cluster
							</h5>
						</div>

						<div class="card-body">
							<div class="row">
								<div class="col-sm-5">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fas fa-id-badge"></i></span>
										</div>
									<input type="text" name="cluster_name" class="form-control" placeholder="Cluster name" required>
									<!-- Add URLs button -->
									<div class="input-group-append">
										<button type="button" class="btn add btn-primary" id="addRow"><i class="fas fa-plus"></i>
											Add node
										</button>
									</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-8">
									<div id="inputFormRow">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text"><i class="fas fa-globe"></i></span>
											</div>
											<input type="text" name="node1" class="form-control m-input" placeholder="Vault URL" required>
										</div><!-- input-group mb-3 -->
									</div><!-- inputFormRow -->
		
									<div id="newRow"></div>

								</div><!-- col-sm-8 -->
							</div><!-- row -->
						</div><!-- card-body -->

				<!-- info -->
				<div class="alert alert-light alert-dismissible fade show" role="alert">
					<p style="color:black;"><i class='fa fa-lightbulb'></i>&nbsp;Info: max 50 nodes per cluster</p>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<!-- Pulsante submit -->
				<button type="submit" class="submit btn btn-primary btn-block"  name="submit" value="Submit">Save</button>
				</form>
		  </div><!-- card -->
	  </div><!-- container-fluid -->

	</section>
</div><!-- content-wrapper -->

<!-- aggiunta campi dinamici -->
<script>
	const maxField = 50; //Input fields increment limitation
	let x = 1; //Initial field counter is 1

	// add row
	$("#addRow").click(function () {
		x++; //Increment field counter

		let html = '';
		html += '<div id="inputFormRow">';
		html += '<div class="input-group mb-3">';
		html += '<div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-globe"></i></span></div>';
		html += '<input type="text" name="node' + x + '" class="form-control m-input" placeholder="Vault URL" autocomplete="off" required>';
		html += '<div class="input-group-append">';
		html += '<button id="removeRow" type="button" class="btn btn-danger">Remove</button>';
		html += '</div>';
		html += '</div>';

		if(x < maxField){ 
			$('#newRow').append(html);
		}
	});

	// remove row
	$(document).on('click', '#removeRow', function () {
		x--; //Decrement field counter
		$(this).closest('#inputFormRow').remove();
	});
</script>
{% endblock %}
